.Manage {
    position: absolute;
    left: 140px; right: 0;
    padding: 20px;    
}

.Manage ul {
    margin: 40px auto;
    max-width: 500px;
}

.Manage li {
    list-style: none;
    padding: 10px;    
    background: #ddd;
}

.Manage li:nth-of-type(even) {
    background: #eee;
}